* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    color: #0066bb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font: 16px/26px Open Sans, Helvetica, Helvetica Neue, Arial;
    color: rgb(40, 40, 20);
    background: white;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 100px;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
}

section p {
    display: block;
    margin: 12px auto;
    max-width: 270pt;
    text-align: center;
}

.avatar {
    display: block;
    margin: 0 auto;

    background: url(../images/avatar-400.jpg) no-repeat;
    background-size: 100px 100px;
    background-position: center; 

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

    height: 100px;
    width: 100px;
    margin: 20pt auto;
}

.github-icon {
    background: url(../images/github-128.png) no-repeat;
    background-size: 48px 48px;
    background-position: center; 
}

.google-plus-icon {
    background: url(../images/google-plus-128.png) no-repeat;
    background-size: 48px 48px;
    background-position: center; 
}

.imdb-icon {
    background: url(../images/imdb-96.png) no-repeat;
    background-size: 48px 48px;
    background-position: center; 
}

.links {
    display: block;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 50%;
    bottom: 10%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 0;

    list-style: none;
    text-align: center;
    white-space: nowrap;
}

.links li {
    display: inline-block;
}

.links a {
    display: block;
    width: 80px;
    height: 58px;
    margin: 0px;
}

.links a,
.links a:hover,
.links a:visited {
    text-decoration: none;
}

.links a {
    opacity: 0.2;
    /*
    -webkit-filter: blur(1px);
            filter: blur(1px);
     */
    -webkit-transition: opacity 0.2s ease-out;
       -moz-transition: opacity 0.2s ease-out;
        -ms-transition: opacity 0.2s ease-out;
         -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
}

.links a:hover {
    opacity: 0.8;
    /*
    -webkit-filter: blur(0px);
            filter: blur(0px);
     */
}


/*
 * Print styles
 */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
